body{
    background-color: #edf6fa !important;
    /* overflow-x: hidden; */
}
.primary-bg{
    background: var(--primary-color) !important;
}
.primary-text{
    color: var(--primary-color) !important;
}
.header-margin{
    margin-top: 80px;
}

.header2{
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
    background-color: var(--bg-color);;
    height: 80px;
}

.header2 .navbar-expand-lg .navbar-nav .nav-link{
    color: var(--heading-color);
    opacity: 0.95;
}
.header2 .navbar-expand-lg .navbar-nav li.nav-item.active .nav-link {
    color: var(--primary-color);
}
.menu-service-category {
    padding: 2px 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px dashed #6eb12a;
}

.dropdown-menu.megamenu{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.menu-category-title {
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: #6eb12a;
}

.menu-service-category:hover{
    background-color: #6eb12a;
    color: #fff;
}

.menu-service-category:hover .menu-category-title{
    color: #fff;
    cursor: pointer;
}

.home-hr-marinetec-com-info, .hr-marinetec-form-12 .hr-marinetec-form-12-content,
.home-hr-marinetec-product-timeline, .hr-marinetec-section{
    background-color: var(--bg-color2);
}

.company-info-text{
    color: var(--font-color) !important;
    font-size: 16px;
}

.company_main {
    display: flex;
    padding: 46px 35px;
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.12);
}

.white_back {
    background-color: var(--bg-color3);
}

/* --------------- What we offer Section Start --------------- */
#what_we_offer_section {
    position: relative;
    background-color: var(--bg-color2);
    padding: 80px 0;
}

.what_we_offer_section_name {
    font-size: 25px;
    font-weight: 800;
    color: #002454;
    padding-left: 15px;
}

.what_we_offer_main {
    background-color: var(--bg-color3);
    border-radius: 29px;
    padding: 25px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.12);
}

.what_we_offer_box {
    background-color: rgba(174, 230, 255, 0.32);
    padding: 27px 10px 30px 23px;
    border-radius: 20px;
    transition: all linear .2s;
    min-height: 430px;
}

.what_we_offer_box:hover {
    background-color: #AEE6FF;
    cursor: pointer;
}

.what_we_offer_box .icon_box{
    width: 61px;
}

.what_we_offer_box .icon_box img {
    display: block;
    width: 100%;
}

.what_we_offer_box .medium_text {
    padding-top: 20px;
}

.bi-arrow-right-short::before {
    vertical-align: -0.25em;
}

.magnifying_glass_img {
    position: absolute;
    top: 0px;
    left: 0;
    width: 250px;
    rotate: -15deg;
}

.magnifying_glass_img img {
    display: block;
    width: 100%;
    margin-left: -90px;
    opacity: .16;
}

.steathoscope_img {
    position: absolute;
    bottom: 0px;
    right: 0;
}

.steathoscope_img img {
    display: block;
    width: 100%;
    opacity: .5;
}

.section_top {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

}

.mb_20 {
    margin-bottom: 20px;
}

.section_heading {
    font-size: 45px;
    font-weight: 900;
    color: #002454;
}

.contact-box .btn {
    background: #ffffff38;
    border: 2px solid #ffffff6b;
    color: #fff;
}

.whybox-wrap-right{
    background: transparent;
}

.abt_agile_left {
    background: url(../images/img6.png) no-repeat 0px 0px;
    background-size: contain;
    min-height: 550px;
    background-attachment: fixed;
}
.whybox-inner-content-left{
    background-color: #0000008f;
    padding: 30px !important;
    border-radius: 20px;
    font-size: 36px;
    font-weight: 600;
    color: var(--font-color2);
    margin: 20px;
}
.whybox-inner-content{
    border-radius: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12);
}
.whybox-wrap-left{
    background-color: #edf6fa;
}

.stats_info span.fa {
    color: #fff;
    background: var(--primary-color);
    padding: 5px;
    border-radius: 5px;
}

/* Product timeline */
.product__timeline_wrap {
    position: relative;
    padding: 30px 28px 68px;
}

/* Hide timeline for screens smaller than 1200px */
@media (max-width: 1200px) {
    .product__timeline_wrap {
        display: none;
    }
}

/* Base styles for timeline items */
.timeline__single_item {
    background: var(--bg-color);
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 4px 30px 67px 0 rgba(33, 54, 88, 0.05);
    border-radius: 5px;
    padding: 35px;
    width: 464px;
    position: relative;
    margin: 20px 0;
}

.timeline__single_item.left {
    left: calc(25% - 275px);
    margin-top: 0;
}

.timeline__single_item.right {
    left: calc(50% + 79px);
    margin-top: -125px;
}

.timeline__header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.right .timeline__header{
    justify-content: flex-start;
}

.timeline__header .product__published_year {
    color: #000;
    font-size: 25px;
    padding-left: 20px;
}

.timeline__pin {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 22;
}

.timeline__single_item.left .timeline__pin {
    right: -33%;
}

.timeline__single_item.right .timeline__pin {
    left: -33%;
}

.timeline__pin img {
    transform: rotate(-180deg);
}

.timeline__body p {
    margin-bottom: 0;
}

.timeline__line {
    position: absolute;
    width: 2px;
    height: 100%;
    background: #eaebec;
    left: 50%;
    top: 0;
    margin-left: 1px;
    z-index: -9;
}

.timeline__line:before,
.timeline__line:after {
    background: #eaebec;
    width: 12px;
    height: 12px;
    position: absolute;
    content: "";
    left: 50%;
    margin-left: -6px;
    border-radius: 50%;
}

.timeline__line:before {
    top: 0;
}

.timeline__line:after {
    bottom: 0;
}


/* testimonial slider */
  
  .slide-col {
    position: relative;
    width: 700px;
    height: 400px;
  }
  
  .hero {
    position: absolute;
    right: 0;
    height: 200px;
    top: 25%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }
  
  .hero img {
    height: 100%;
    border-radius: 10px;
    width: 320px;
    object-fit: cover;
    pointer-events: none;
    user-select: none;
  }
  
  .content {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 510px;
    background: rgba(16, 15, 15, 0.22);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    backdrop-filter: blur(5.7px);
    -webkit-backdrop-filter: blur(5.7px);
    border-radius: 10px;
    padding: 45px;
    z-index: 2;
    user-select: none;
    text-align: left;
    
  }
  
  .content p {
    font-weight: 400;
    line-height: 1.3;
    color: #fff;
  }
  
  .content h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 25px;
  }

  /* faq */
.panel{
    background: linear-gradient(90deg, rgba(98, 152, 35, 1) 40%, rgba(157, 221, 83, 1) 100%);
}
.panel-title > a.collapsed:before {
    float: right !important;
    content:"\f067";
}
.panel-title > a:before {
    float: right !important;
    font-family: "Font Awesome 5 Free";
    content: "\f068";
    font-weight: 900;
}

.panel-title > a:hover, 
.panel-title > a:active, 
.panel-title > a:focus  {
    text-decoration:none;
}
.panel-heading {
    padding: 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.panel {
    margin-bottom: 20px !important;
    color: #fff;
    border: 1px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 4px;
}
.panel-body{
    padding: 20px;
    color: var(--font-color3);
}
.panel-title{
    font-size: 20px;
}
.panel-title a{
    color: #fff;
    padding-right: 20px;
    font-weight: 600;
}
.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #00bcd4;
    text-align: center;
    color: #fff;
}

.panel-collapse{
    background-color: var(--bg-color3);
    border-radius: 0 0 4px 4px;
}

.faq-img{
    padding: 80px;
}

.social-icon{
    font-size: 22px;
    color: #fff;
    margin: 0 5px;
    transition: .5s;
    cursor: pointer;
}

.social-icon:hover{
    color: var(--primary-color);
}


/* team */

.team-member-section{
    background: url('../images/bannerbg.webp');
}

.page-banner{
    background: #e9ece673 !important;
}

.our-team-section {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
}
.our-team-section:before {
    position: absolute;
    top: -0;
    left: 0;
    content: " ";
    background-size: 100% 100px;
    width: 100%;
    height: 100px;
    float: left;
    z-index: 99;
}
.our-team {
    padding: 30px 0 40px;
    background: var(--font-color2);
    text-align: center;
    overflow: hidden;
    position: relative;
    border: 1px solid var(--primary-color);
    border-bottom-width: 5px;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.our-team:hover{
    border-bottom: 5px solid var(--primary-color);
    background-color: #94c16545;
}

.our-team .pic{
    display: inline-block;
    width: 130px;
    height: 130px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
}
.our-team .pic:before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: var(--primary-color);
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 1;
    transform: scale(3);
    transition: all 0.3s linear 0s;
}
.our-team:hover .pic:before{
    height: 100%;
    background: #2f2f2f; 
 }
.our-team .pic:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #ffffff00;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all 0.3s linear 0s;
}
.our-team:hover .pic:after{
    background: #7ab92d;
}
.our-team .pic img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
    position: relative;
    z-index: 2;
}
.our-team:hover .pic img{
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
}
.our-team .team-content{ margin-bottom: 30px; }
.our-team .title{
    font-size: 22px;
    font-weight: 700;
    color: #4e5052;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-bottom: 5px;
}
.our-team .post{
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform:capitalize;
}
.our-team .social{
    width: 100%;
    padding: 0;
    margin: 0;
    background: var(--primary-color);
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
}
.our-team:hover .social{ bottom: 0; }
.our-team .social li{ display: inline-block; }
.our-team .social li a{
    display: block;
    padding: 10px;
    font-size: 17px;
    color: #fff;
    transition: all 0.3s ease 0s;
}
.our-team .social li a:hover{
    color: #2f2f2f;
    background: #f7f5ec;
}

/* project */
.project_box {
    background-color: var(--bg-color3);
    height: 100%;
    border-radius: 20px;
    cursor: pointer;
    transition: all linear .3s;
    text-align: center;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;;
}
.projects_img {
    height: 250px;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    padding: 20px;
}

.projects_img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px 20px 0 0;
    transition: all linear .3s;
}

.projects_img:hover img{
    transform: scale(1.1);
}

.project_content {
    padding: 25px 25px 40px 25px;
    border-radius: 0 0 20px 20px;
}

.country-chip{
    padding: 15px 30px;
    border-radius: 20px;
    background-color: var(--bg-color3);
    color: var(--font-color3);
    font-size: 18px;
    font-weight: 600;
    margin:10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    transition: all linear .3s;
}
.country-chip:hover{
    background-color: var(--primary-color);
    color: #fff;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    cursor: pointer;
}

/* services */
.service {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 300px;
    border-radius: 30px;
    overflow:hidden;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
  }
  .service:hover{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  }
  .service-profile-img {
    height: 73%;
    width: 100%;
    overflow: hidden;
  }
  
  .service-description-bk {
    background-image: linear-gradient(0deg, #09310df5, #8bf27d);
    border-radius: 30px;
    position: absolute;
    top: 65%;
    left: -5px;
    height: 40%;
    width: 108%;
    transform: skew(19deg, -7deg);
  }
  
  .service-description {
    position: absolute;
    color: #fff;
    font-weight: 500;
    left: 20px;
    bottom: 5%;
    padding-right: 20px;
  }
  
  .service-description p{
    font-size: 16px;
    line-height: 1.3;
  }
  
  .service-btn {
    position: absolute;
    right: 30px;
    bottom: 24%;
    padding: 3px 15px;
    border: 1px solid #fff;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 4px 13px 0px rgb(10 53 13 / 59%);
  }
  
  .service-btn a {
    color: #000;
  }

/* project details */
.project-info-box {
    margin: 15px 0;
    background-color: #fff;
    padding: 30px 40px;
    border-radius: 5px;
  }
  
  .project-info-box p {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #d5dadb;
  }
  
  .project-info-box p:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }
  .project-details-img {
      width: 100%;
      max-width: 100%;
      height: auto;
      -webkit-backface-visibility: hidden;
  }

  .service-photo-gallery .photos {
    padding-bottom:20px;
  }
  
  .service-photo-gallery .item {
    padding-bottom:30px;
  }

  .service-details-item-img {
    width: 100%;
    height: 100%;
    padding: 5px;
    border: 2px dashed;
  }
  
@media only screen and (max-width: 990px){
    .our-team{ margin-bottom: 30px; }
}
  
@media (max-width: 850px) {
    .slide-col {
      width: 500px;
      height: 250px;
    }
  
    .hero img {
      width: 200px;
    }
  
    .content {
      width: 320px;
      height: 200px;
      padding: 20px;
    }
  
    .content p {
      font-size: 0.9rem;
    }
  
    .content h2 {
      font-size: 1.2rem;
      margin-top: 20px;
    }
  }
  
  @media (max-width: 550px) {
  
    .slide-col {
      width: 500px;
      height: 300px;
    }
  
    .hero {
      top: 60%;
      height: 100px;
      z-index: 5;
    }
  
    .hero img {
      width: 100px;
    }
  
    .content {
      width: 300px;
    }
    .faq-img{
        padding: 50px;
    }
    .service{
        height: 300px;
    }
  }
  

/* Display two cards per row for screens between 1200px and 757px */
@media (max-width: 1200px) and (min-width: 757px) {
    .product__timeline_wrap {
        display: flex;
        flex-wrap: wrap;
        padding: 0px;
    }
    .timeline__single_item {
        width: calc(50% - 20px);
        margin: 10px;
    }
    .timeline__single_item.left, .timeline__single_item.right {
        left: 0;
        margin-top: 10px;
    }
    .timeline__line, .timeline__pin{
        display: none;
    }
}

/* Display one card per row for screens smaller than 757px */
@media (max-width: 757px) {
    .product__timeline_wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
    }
    .timeline__single_item.left, .timeline__single_item.right{
        left: 0px;
        margin-top: 10px;
    }
    .timeline__single_item {
        width: calc(100% - 20px);
        margin: 10px 0;
    }
    .timeline__pin {
        left: auto;
        right: -10px;
    }
    .timeline__line, .timeline__pin{
        display: none;
    }
    .panel-title a{
        font-size: 18px;
    }
}

@media (max-width: 576px) {
    .timeline__single_item {
        padding: 20px;
        width: calc(100% - 20px);
    }

    .timeline__line, .timeline__pin{
        display: none;
    }

    .timeline__header {
        margin-bottom: 15px;
    }
}

@media (max-width: 576px) {
    .timeline__single_item {
        width: 100%;
        left: 0;
        right: 0;
        margin: 10px 0;
    }

    .timeline__pin {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        margin-left: 10px;
        transform: translateY(0);
    }

    .timeline__line {
        display: none;
    }

    .timeline__header {
        flex-direction: column;
        align-items: flex-start;
    }

    .timeline__header .product__published_year {
        margin-top: 10px;
        font-size: 18px;
    }

    .timeline__header img {
        max-width: 100px;
    }
}


@media (min-width: 320px) and (max-width: 767px) {
    #what_we_offer_section{
        padding-top: 80px;
    }
    .sm_none {
        display: none;
    }
    .sm_gap {
        gap: 28px;
    }
    .section_top {
        margin-bottom: 50px;
    }

    .section_heading {
        font-size: 35px;
    }

    .what_we_offer_box {
        padding: 20px 10px 25px 15px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .sm_none {
        display: none;
    }
    .sm_gap > * {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media (min-width: 992px){
    .dropdown-menu.megamenu{
        padding: 30px;
        min-width: 500px;
    }
}

@media (max-width: 991px) {
    .whybox-wrap-left{
        display: none !important;
    }
    .company_main{
        padding: 20px 5px;
    }
}

.footer-developer-by-text{
    padding-left: 30px;
    font-size: 13px;
    color: #8b8686;
}
.hr-marinetec-copyright .copy-footer-29 a {
    color: #557d2b;
    font-weight: 600;
}